@model IEnumerable<Kyrsach.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="contener">
<div class="card-files">
    <div class="txt-files">Hover Me :)</div>
    <div class="shadow-files"></div>
</div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
    <div class="card-files">
        <div class="txt-files">Hover Me :)</div>
        <div class="shadow-files"></div>
    </div>
</div>
