@model Kyrsach.Models.Test

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление теста</h1>

<form asp-action="Create" class="formCreate">
    <input asp-for="IdCategory" class="none" name="IdCategory" value="@ViewBag.idCat" />
    @*<span asp-validation-for="IdCategory" class="none"></span>*@

    <div class="inputbox question category">

        <input asp-for="NameTest" required autocomplete="off" type="text">
        <span asp-validation-for="NameTest" class="spanCategory">Название:</span>
        <i></i>
    </div>
    <div class="CategoryCreate">
        @* <div class="form-group">
        <label asp-for="WhoAnsweredCategory" class="control-label"></label>
        <input asp-for="WhoAnsweredCategory" class="form-control" />
        <span asp-validation-for="WhoAnsweredCategory" class="text-danger"></span>
        </div>*@

        <button type="submit" value="Create" class="btn">
            <strong>Добавить</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>

            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        <button class="cssbuttons-io-button">
            Назад



            <a asp-action="Index" class="icon" asp-route-idCat="@ViewBag.idCat">
                <div class="svg">
                    ←
                </div>
            </a>

        </button>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
