@model Kyrsach.Models.LoginModel




<head>
    <link rel="stylesheet" href="~/css/StyleLoginRegIn.css" />

    @*<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div>
    <div class="box">
        <div class="col-12 text-center align-self-center py-5">
                <div class="card-3d-wrap mx-auto">
                    <div class="square" style="--i: 0"></div>
                    <div class="square" style="--i: 1"></div>
                    <div class="square" style="--i: 2"></div>
                    <div class="square" style="--i: 3"></div>
                    <div class="square" style="--i: 4"></div>
                    <div class="card-3d-wrapper">
                        <div class="card-front">
                            <div class="center-wrap">
                                <form class="None" method="post" asp-controller="Account" asp-action="Login">
                                    <h4 class="title">
                                        Войти
                                    </h4>
                                    <div class="inputBox">
                                        <input placeholder="Логин" asp-for="Name" autofocus />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="inputBox">
                                        <input type="password" placeholder="Пароль" asp-for="Password" autocomplete="off" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <button name="Button" value="login" class="btn">
                                        <strong class="strongBtn">Войти</strong>
                                        <div id="container-stars">
                                            <div id="stars"></div>
                                        </div>
                                        <div id="glow">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                    </button>
                                    <p >
                                    Ещё нет аккаунта? <a asp-controller="Account" style="display:inline" asp-action="Register">Регистрация</a>
                                    </p>
                                </form>

                            </div>
                            <div class="Text">
                       
                                <p class="textLogin">
                                У нас созданы 2 тестовый аккаунта. <br/>
                                Для администратора -<br /> Логин: Alina,<br /> Пароль: admin.<br/>
                                Для пользователя -<br /> Логин: Anna, <br/> Пароль: 1234.
                                <div asp-validation-summary="ModelOnly" class="text-danger">
                                </div>
                </p >
    </div >

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }