@model Kyrsach.Models.RegisterUserModel




<head>
    <link rel="stylesheet" href="~/css/StyleLoginRegIn.css" />

</head>

    <div class="box">


        <div class="col-12 text-center align-self-center py-5">

                <div class="card-3d-wrap mx-auto" style="width:450px!important">
                    <div class="square" style="--i: 0"></div>
                    <div class="square" style="--i: 1"></div>
                    <div class="square" style="--i: 2"></div>
                    <div class="square" style="--i: 3"></div>
                    <div class="square" style="--i: 4"></div>
                    <div class="card-3d-wrapper">


                        <div class="card-front">

                            <div class="center-wrap" style="width:100%!important">
                                <form method="post" asp-controller="Account" asp-action="RegisterUser" style="    display: flex;
    flex-direction: column;
    align-items: center;">
                                    <h4 class="title1">Регистрация ученика</h4>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="flexInputForm">
                                    <div class="inputBox">
                                        <input asp-for="FirstName" type="text" placeholder="Имя" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="inputBox">
                                        <input asp-for="LastName" type="text" placeholder="Фамилия" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    </div>
                            <div class="flexInputForm">
                                    <div class="inputBox">
                                        <input asp-for="NumberStudentBook"  type="text" placeholder="Номер зачётки" />
                                        <span asp-validation-for="NumberStudentBook" class="text-danger"></span>
                                    </div>
                                    <div class="inputBox">
                                        <select asp-for="Group" asp-items="ViewBag.Groups"></select>
                                        <span asp-validation-for="Group" class="text-danger"></span>
                                    </div>
                                    </div>
                                    <button type = "submit" class="btn" name="send">
                                        <strong class="strongBtn">Регистрация</strong>
                                        <div id = "container-stars" >
                                            <div id="stars"></div>
                                        </div>
                                        <div id = "glow" >
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                    </button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div/>