@*@model String*@
<div style="height:90vh; display:grid; align-items:unset;padding:10vh">
<h1 style="padding:0 20vw">@ViewBag.Message</h1>
    <img src="~/img/error1.png" class="result-phone" />
    <img src="~/img/error2.png"  class="result-img" />
</div>