@model Kyrsach.Models.Question

@{
    ViewData["Title"] = "Create";
}
<div class="contener" style="margin-top:30px">
    <h1 style="width: 100%;margin-bottom:100px">Создание вопроса</h1>

<hr />
<form asp-action="Create" class="formCreate" enctype="multipart/form-data">
        <input name="idT" hidden  value="@ViewBag.IdT" />


    <div class="inputbox question">
       <p>Вопрос:</p>
        <textarea asp-for="TextQuetion" minlength="6" required autocomplete="off" type="text"></textarea>
            <span asp-validation-for="TextQuetion" ></span>
    </div>


    <div class="QuestionImeges">
        <div class="QuestionText">
    <div class="radio-inputs">
        <label>
                    <input checked class="radio-input" type="radio" id="options" name="engine">
            <span class="radio-tile">
                <span class="radio-label">С вариантами ответа</span>
            </span>
        </label>
        <label>
                    <input class="radio-input" type="radio" id="Nooptions" name="engine">
            <span class="radio-tile">
                <span class="radio-icon">
                </span>
                <span class="radio-label">Без вариантов ответа</span>
            </span>
        </label>
 
    </div>
    <div class="create-options" id="create-options">
        <div class="aa">
                <label class="container">
                        <input  type="checkbox" id="11" onchange="copyInputValue(1, 11)">
                    <div class="checkmark"></div>
                </label>
                <div class="inputbox">
                        <input asp-for="Option1"  minlength="1" maxlength="30" id="1" autocomplete="off" required type="text">
                    <span >Вариант 1</span>
                            <span asp-validation-for="Option1"></span>
                    <i></i>
                </div>
        </div>
            <div class="aa">
                <label class="container">
                <input type="checkbox" id="22"  onchange="copyInputValue(2, 22)" />
                    <div class="checkmark"></div>
                </label>
                <div class="inputbox">
                        <input asp-for="Option2" minlength="1" maxlength="30" autocomplete="off" required id="2" type="text">
                    <span >Вариант 2</span>
                            <span asp-validation-for="Option2"></span>
                    <i></i>
                </div>
            </div>
                <div class="aa none" id="option3">
                <label class="container">
                <input type="checkbox" id="33" onchange="copyInputValue(3, 33)" />
                    <div class="checkmark"></div>
                </label>
                <div class="inputbox">
                        <input asp-for="Option3" minlength="1" maxlength="30" autocomplete="off" id="3" required type="text">
                    <span>Вариант 3</span>
                    <span asp-validation-for="Option3"></span>
                    <i></i>
                </div>
            </div>
                <div class="aa none" id="option4" >
                <label class="container">
                <input type="checkbox" id="44" onchange="copyInputValue(4,44)" />
                    <div class="checkmark"></div>
                </label>
                <div class="inputbox">
                        <input asp-for="Option4" minlength="1" maxlength="30" autocomplete="off" id="4" required type="text">
                    <span>Вариант 4</span>
                            <span asp-validation-for="Option4"></span>
                    <i></i>
                </div>
            </div>
                <div class="aa none" id="option5" >
                <label class="container">
                <input type="checkbox" id="55" onchange="copyInputValue(5,55)" />
                    <div class="checkmark"></div>
                </label>
            <div class="inputbox" >
                        <input asp-for="Option5" minlength="1" maxlength="30" autocomplete="off" id="5" required type="text">
                    <span>Вариант 5</span>
                            <span asp-validation-for="Option5"></span>
                    <i></i>
                </div>
           
                </div>
             
             
        <input asp-for="CorrectAnswer" type="text" id="CorrectAnswer" class="none" name="answer" />
        <span asp-validation-for="CorrectAnswer" class="text-danger"></span>

                <div class="radio-inputs">

                    <button type="button" id="plus" class="Option-button plus ">

        </button>
                    <button type="button" id="minus" class="Option-button minus none">

                </button>
                </div>
    </div>
    <div class="create-Nooptions none" id="create-Nooptions">
        <div class="inputbox">
                    <input asp-for="CorrectAnswer" minlength="1" maxlength="15" autocomplete="off" type="text">
            <span asp-validation-for="CorrectAnswer">Ответ:</span>
            <i></i>
        </div>
       
    </div>
    
  

    <div class="input__wrapper">
        <input type="file" asp-for="PictureTest" accept="image/png, image/jpeg" class="input input__file" name="PictureTest">
        <label asp-for="PictureTest" class="input__file-button">
      <span class="input__file-icon-wrapper"><img class="input__file-icon" src="~/img/picture.png" alt="Выбрать файл" width="55"></span>
            <span class="input__file-button-text" asp-validation-for="PictureTest">Выберите файл</span>
   </label>
</div>
</div>
    <div class="questionImg">
        <div class="cardQuestion">
            <div class="circleQuestion"></div>
            <div class="circleQuestion"></div>
            <div class="card-innerQuestion">
                <img src="~/img/DefautlCate.png" id="imgCate" class="imgQuestion" />
            </div>
        </div>

        
    </div>
    </div>

                <div class="CreateCategoryButtons" style="margin-top:0px">
        <button type="submit" value="Create" class="btn">
            <strong>Добавить</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>

            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

                    <button type="button" class="btnBack">

                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

            <div class="text"> <a asp-action="Index" asp-route-idT="@ViewBag.idT">Назад</a></div>
                </button>
                </div>
      </form>
      </div>
<script src="~/js/question.js">

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    const label = document.querySelector('.input__file-button-text');
    const img = document.querySelector('#imgCate');
    const inputCat = document.querySelector('.input__file');
    inputCat.addEventListener('change', () => {

        label.textContent = 'Файл выбран';
        img.src = URL.createObjectURL(inputCat.files[0]);
    });
</script>