@model IEnumerable<Kyrsach.Models.Question>

@{
    ViewData["Title"] = "End1";
}
@*<img src="~/img/phisics.png" class="imm" />
<img src="~/img/testR.png" class="imm" />*@
@*<div class="Test2">
   
</div>*@
<div>

</div>




