@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}

<div class="titleBio">
    <div><img src="~/img/vecteezy_ink-with-feather-icons-of-art-and-stationary-illustration_8470746_847.png" class="iconBio" alt=""></div>
    <h1 class="title__textBio">Александр Сергеевич Пушк</h1>
</div>
<button class="sound" id="start"></button>

<div class="textBio">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="card1Bio">
        <div class="circle1Bio"></div>
        <div class="circle1Bio"></div>
        <div class="card-innerBio"><img src="~/img/iNjX02vfx6M.jpg" class="imgBio"></div>
    </div>
    <p id="text">

       Александр Сергеевич Пушкин родился 6 июня 1799 года (по старому стилю 26 мая) в Москве в дворянской помещичьей семье (отец его был майор в отставке) в день праздника Вознесения. В тот же день у императора Павла родилась внучка, в честь которой во всех церквах шли молебны и гудели колокола. Так, по случайному совпадению день рождения русского гения был ознаменован всеобщим народным ликованием. Символично и место рождения поэта г. Москва - самое сердце русской жизни, России. Будущего поэта крестили 8 июня в церкви Богоявления в Елохове.
        Отец Пушкина Сергей Львович и мать Надежда Осиповна, урожденная Ганнибал, были дальними родственниками. Пылкие страсти, руководившие предками как по отцовской, так и по материнской линии, оказали свое влияние и на Пушкина. Семья (кроме Александра были еще дети Ольга и Лев) принадлежала к самой образованной части московского общества.
        В их доме, точнее, в квартире, которую снимали родители Пушкина, собирались поэты, художники, музыканты. Общая галломания, господствовавшая в обществе, французское воспитание в семье с французами гувернерами (к счастью, их удачно уравновешивали бабушка поэта Мария Алексеевна и знаменитая няня Арина Родионовна), доступ к прекрасным библиотекам отца, а также дяди поэта В. Л. Пушкина и дальних родственников Бутурлиных - формировали ум и детскую душу Пушкина. Свои первые в жизни стихи поэт написал по-французски. Его прозвище в Лицее было «француз».
    
    <div class="cardBio">
            <div class="circleBio"></div>
            <div class="circleBio"></div>
            <div class="card-innerBio"><img src="img/1e25b2f9439c4594bf8d077ea5506174.jpeg" class="imgBio"></div>
        </div>
        
        В 12 лет, получив начатки домашнего воспитания, Александр был отвезен учиться в новое, только что открывшееся 19 октября 1811 г. учебное заведение - Царскосельский Лицей под Петербургом, место, где располагалась летняя резиденция русских царей.

        Программа занятий в Лицее была обширной, но не столь глубоко продуманной. Воспитанники, однако, предназначались к высокой государственной карьере и имели права окончивших высшее учебное заведение.

        Царское Село. Лицей
        Немногочисленность учащихся (29 чел.), молодость ряда профессоров, гуманный характер их педагогических идей, ориентированный, по крайней мере, у лучшей части их, - на внимание и уважение к личности учеников, отсутствие телесных наказаний, дух чести и товарищества - все это создавало особую атмосферу. Пушкин сохранил лицейскую дружбу и культ Лицея на всю жизнь. Лицеисты выпускали рукописные журналы и уделяли много внимания собственному литературному творчеству. «Начал я писать с 13-летнего возраста и печатать почти с того же времени», - вспоминал Пушкин впоследствии.

        Из этого выпуска трое друзей поэта стали участниками восстания против царя 14 декабря 1825 г.

        В 1815 г. Пушкин с триумфом прочел на экзамене свое стихотворение «Воспоминание в Царском Селе» в присутствии знаменитого поэта Г. Р. Державина: «Старик Державин нас заметил и, в гроб сходя, благословил». На выпускном акте в 1817 г. Пушкин также прочел собственное стихотворение «Безверие».

        Вскоре Пушкин переехал в Петербург и поступил в коллегию иностранных дел в чине коллежского секретаря. Общение его очень широкое: гусары, поэты, литературные общества «Арзамас» и «Зеленая лампа», театры, модные рестораны, дуэли – «слава Богу, не смертоносные», как сообщала Е. А. Карамзина своему брату Вяземскому. Но Пушкин не растворялся в этой пестроте, он искал себя.
    
    </>
</div>
<script>
    const synth = window.speechSynthesis;

    console.log("0000000000000");
    const btn = document.querySelector('#start');

    btn.style.backgroundImage = "url('../img/sountnot.png')";
    const input = document.querySelector('#text');
    console.log("33333333");
    btn.addEventListener('click', () => {
        console.log("88888");
       if(synth.speaking==false){
        console.log("99999999");
        btn.style.backgroundImage = "url('../img/sound.png')";
        let utterance = new SpeechSynthesisUtterance(input.textContent);

        synth.speak(utterance);
       }
       else{
            btn.style.backgroundImage = "url('../img/sountnot.png')";
            synth.cancel();
       }
    });
    
    console.log(btn)
    
    console.log("111");
</script>