@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form id="form1" runat="server">
    <div style="border: 1px solid #357ae8; padding-top: 15px; width: 500px; height: 350px">
        <h1 style="color: #3d75bd;">Asp .net text to speech using c#</h1>
        <br />
        <asp:TextBox ID="txtContent" runat="server" TextMode="MultiLine" Width="400px" Height="100px">
        </asp:TextBox>
        <br />
        <asp:Button ID="btnSpeak" runat="server" Text="Click To Speak" OnClick="btnSpeak_Click" />
        <br />
    </div>
</form>
