@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="contener">
    <title>Правила по охране труда</title>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
    <p class="titleFront">Правила охраны труда при работе на высоте</p>
    <img src="/img/visota.png" alt="" class="imgStart" height="100%">
       
        <div class="textBoxStart">
            <p class="titleStart">Правила охраны труда при работе на высоте</p>
            <p class="textStart headStart">(постановление Министерства труда Республики Беларусь от 28 апреля 2001 г. № 52)</p>
        <a asp-action="Index">
            <button class="learn-more buttonStart">

                <span class="circle1Start" aria-hidden="true">
                    <span class="iconStart arrow"></span>
                </span>
                <span class="button-textStart">Читать далее</span>

            </button>
        </a>
    </div>
</div>

<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Правила по охране труда при эксплуатации и ремонте водопроводных и канализационных сетей</p>
    <img src="/img/water.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Правила по охране труда при эксплуатации и ремонте водопроводных и канализационных сетей</p>
            <p class="textStart headStart">(постановление Министерства жилищно-коммунального хозяйства Республики Беларусь, Министерства труда и социальной защиты Республики Беларусь от 26 апреля 2002 г. № 11/55)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>

<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при эксплуатации напольного безрельсового транспорта и грузовых тележек</p>
    <img src="/img/gryz.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при эксплуатации напольного безрельсового транспорта и грузовых тележек</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь от 30.12.2003 № 165)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при эксплуатации мобильных подъемных рабочих платформ</p>
    <img src="/img/mobGryz.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при эксплуатации мобильных подъемных рабочих платформ</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь от 25.06.2004 № 78)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при холодной обработке металлов</p>

    <img src="/img/ferum.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при холодной обработке металлов</p>
            <p class="textStart headStart">(постановление Министерства промышленности Республики Беларусь и Министерства труда и социальной защиты Республики Беларусь от 28 июля 2004 г. № 7/92)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при термической обработке металлов</p>

    <img src="/img/svarka.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при термической обработке металлов</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь и Министерства промышленности Республики Беларусь от 29.07.2005 № 99/9)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>

<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при эксплуатации строительных подъемников</p>

    <img src="/img/podem.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при эксплуатации строительных подъемников</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь и Министерства архитектуры и строительства Республики Беларусь от 30.01.2006 № 12/2)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при работе с дихлорэтаном</p>

    <img src="/img/himia.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при работе с дихлорэтаном</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь, Национальной академии наук Беларуси от 17.08.2006 № 94/5)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront">Межотраслевые правила по охране труда при работе с таллием и его соединениями</p>

    <img src="/img/talii.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart">Межотраслевые правила по охране труда при работе с таллием и его соединениями</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь, Национальной академии наук Беларуси от 17.08.2006 № 95/6)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
        <p class="titleFront"> Межотраслевые правила по охране труда в кондитерском производстве</p>

    <img src="/img/cake.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
            <p class="titleStart"> Межотраслевые правила по охране труда в кондитерском производстве</p>
            <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь от 29.12.2006 № 164)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>
<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
    <p class="titleFront">Межотраслевые правила по охране труда при работе с дихлорэтаном</p>

    <img src="/img/himia.png" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
        <p class="titleStart">Межотраслевые правила по охране труда при работе с дихлорэтаном</p>
        <p class="textStart headStart">(постановление Министерства труда и социальной защиты Республики Беларусь, Национальной академии наук Беларуси от 17.08.2006 № 94/5)</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>

<div class="cardStart">

    <div class="circleStart"></div>
    <div class="circleStart"></div>
    <img src="/img/lermontov.jpg" alt="" class="imgStart" height="100%">
    <div class="textBoxStart">
        <p class="titleStart">Lorem</p>
        <p class="textStart headStart">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, dolorum harum earum aliquam laborum error rem fugiat vero assumenda corporis! Temporibus nesciunt voluptatum nostrum? Error quaerat doloribus velit illum earum!</p>

        <button class="learn-more buttonStart">
            <span class="circle1Start" aria-hidden="true">
                <span class="iconStart arrow"></span>
            </span>
            <span class="button-textStart">Learn More</span>
        </button>

    </div>
</div>


</div>