@model Kyrsach.Models.Group


<head>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>



<div class="card-container">
  <div class="card-header">
        <input type="text" id="IdGroup" hidden value="@Model.IdGroup" />
        <input type="text" id="me" hidden value="@User.Identity.Name"/>
        <div class="img-avatar">
            @*@if (@Model.Img != null)
                    {
                <img class="img-avatar" src="data:image/png;base64,@(Convert.ToBase64String(Model.Img))" />
                    }
                    else
                    {
                <img class="img-avatar" src="~/images/Icons/defaulfUser.png" />
                    }*@
            </div>
        <div class="text-chat"><p id="You">@Model.NameGroup</p></div>
        
  </div>
  <div class="card-body">
        <ul class="messages-container" id="messagesList">
    </ul>
    <div class="message-input">
                <textarea placeholder="Текст сообщения..." class="message-send" id="messageInput"></textarea>
            <button type="submit" id="sendButton" class="btn" name="send">
                <strong class="strongBtn">Отправить</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>
                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
    </div>
  </div>
    </div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Chat.js"></script>
